.event-page {
  width: 715px;
  background: rgba(243, 216, 111, .8);
  min-height: 700px;
  float: right;
  margin-top: 25px;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "Bree Serif", arial;
  position: relative;
  padding: 20px;
}

.event-page-container {
  width: 675px;
  min-height: 660px;
  background: rgba(255, 255, 255, .6);
  box-sizing: border-box;
  position: relative;
  border-radius: 5px;
}

.event-page-container:after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background: black;
  right: 205px;
  top: 0;
  bottom: 0;
}

.event-page-content {
  width: 469px;
  float: left;
  box-sizing: border-box;
  padding: 20px;
  padding-right: 10px;
}

.event-page-content h1 {
  font-size: 26px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.event-page-date {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
}

.event-page-time {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.event-page-location {
  border-bottom: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
}

.event-page-description span {
  display: block;
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  text-align: center;
}

.event-page-description p {
  font-size: 16px;
  font-family: arial;
}

.event-page-users {
  width: 205px;
  float: right;
  box-sizing: border-box;
  min-height: 350px;
  padding: 10px;
  position: relative;
}

.event-page-rsvp {
  padding: 10px;
  border-bottom: 1px solid black;
}

.event-rsvp-question {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
  font-size: 20px;
}

.event-rsvp-button {
  display: block;
  margin: 0 auto;
  width: 90px;
  background: #29a599;
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 5px;
}

.event-page-user-list {
  width: 185px;
  box-sizing: border-box;
  padding: 5px;
  text-align: center;
}

.event-page-user-list-items {
  border-top: 1px solid black;
  padding: 5px;
  text-align: left;
}

.event-page-user-list-items:last-child {
  border-bottom: 1px solid black;
}

.event-page-user-list-items:first-child {
  margin-top: 10px;
}

.event-page-description p {
  display: block;
  font-size: 16px;
  font-family: "Bree Serif", arial;
  margin-bottom: 15px;
}
