.front-section {
  background-image: image-url("new_york.jpg");
  background-attachment: fixed;
}

.front-header {
  display: flex;
  justify-content: space-between;
  background: white;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #ccc;
}

.front-header-heading-link {
  padding-top: 15px;
  font-family: 'Courgette', cursive;
  color: #29a599;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 25px;
}

.front-header-heading-link:hover {
  color: #f3d86f;
}

.front-header-heading-link:active {
  color: rgba(223, 196, 91, 1)
}


.front-header-heading-logo {
  padding: 20px 5px;
  font-family: 'Pacifico', cursive;
  color: #29a599;
  font-size: 36px;
}

.front-header-heading-logo:hover {
  color: #f3d86f;
}

.front-header-heading-logo:active {
  color: rgba(223, 196, 91, 1)
}

.front-header-list {
  float: right;
  margin-right: 20px;
  padding-top: 5px;
  width: 155px;
  position: relative;
  right: 30px;
}

.front-header-list > li {
  padding: 27px 5px;
  position: absolute;
  right: -20px;
}

.front-header-list img {
  width: 35px;
  height: 35px;
}

.front-header-nav-message {
  background-color: #29a599;
  border: 1px solid #29a599;
  border-radius: 5px;
  display: inline-block;
  margin-right: 15px;
}

.front-header-nav-notification {
  background-color: #f3d86f;
  border: 1px solid #f3d86f;
  border-radius: 5px;
  top: 10px;
  display: inline-block;
}

.front-header-nav-profile {
  background-color: #29a599;
  border: 1px solid #29a599;
  border-radius: 5px;
  top: 10px;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
}

.front-header-nav-profile:hover {
  background: #f3d86f;
  border: 1px solid #f3d86f;
}

.front-header-nav-profile:active {
  background: rgba(223, 196, 91, 1);
  border: 1px solid rgba(223, 196, 91, 1);
}

.content-header {
  height: 260px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(41, 165, 153, .8);
}

.content-header-box {
  width: 950px;
}

.content-header-text {
  overflow: hidden;
  height: 60px;
  width: 950px;
}

.content-header-text-header {
  display: block;
  border: 0;
  margin-top: 30px;
  color: white;
  font-family: "Fredoka One", sans-serif;
  font-size: 30px;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
}



.content-header-nextlinkup {
  width: 650px;
  color: white;
  font-family: "Bree Serif", sans-serif;
  box-sizing: border-box;
  float: left;
  margin-top: 15px;
}


.content-header-nextlinkup h3 {
  font-size: 24px;
}

.content-header-nextlinkup h3:hover {
  color: rgba(243, 216, 111, .7);
}

.content-header-nextlinkup h3:active {
  color: rgba(243, 216, 111, 1);
}


.content-header-nextlinkup h5 {
  font-size: 16px;
  margin: 15px;
  margin-left: 0;
}

.content-header-nextlinkup h5:hover {
  color: rgba(243, 216, 111, .7);
}

.content-header-nextlinkup h5:active {
  color: rgba(243, 216, 111, 1);
}

.content-header-calendar-location {
  width: 200px;
  color: white;
  font-family: "Lato", sans-serif;
  float: right;
  margin-top: 30px;
}

.content-header-calendar-location > h3 {
  font-size: 16px;
  margin-bottom: 15px;
}

.content-header-calendar-location > h3:first-of-type {
  margin-top: 15px;
}

.front-header-nav-profile {
  position: relative;
  top: 0;
}

.front-header-profile-list {
  position: absolute;
  width: 100px;
  border-radius: 5px;
  position: absolute;
  left: -165px;
  top: 60px;
  height: 98px;
  width: 200px;
  background: rgba(243, 216, 111, .9);
}


.front-header-profile-list a {
  display: block;
  padding: 7px;
  border-bottom: 1px solid black;
  color: black;
}

.front-header-profile-list a:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.front-header-profile-list a:hover {
  background: rgba(41, 165, 153, .7);
  color: white;
}

.front-header-profile-list a:active {
  background: rgba(41, 165, 153, 1);
}


.front-header-profile-list:before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 10px solid rgba(243, 216, 111, .7);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: -10px;
  right: 7px;
  z-index: 1;
}

.front-header-profile-list > li {
  padding: 7px;
  color: black;
}

.front-header-profile-list >li:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.front-header-profile-list > li:hover {
  background: rgba(41, 165, 153, .7);
  color: white;
}

.front-header-profile-list > li:active {
  background: rgba(41, 165, 153, 1);
  color: white;
}

.front-invisible {
  display: none;
}

.front-visible {
  display: block;
}

.content-main {
  width: 950px;
  margin: 0 auto;
  min-height: 600px;
  position: relative;
  padding-top: 70px;
}

.search-bar {
  width: 950px;
  background: rgba(243, 216, 111, .9);
  position: absolute;
  height: 70px;
  padding: 15px;
  box-sizing: border-box;
  top: -35px;
  color: white;
  border-radius: 5px;
}

.search-bar span {
  margin-left: 10px;
  color: white;
  font-size: 18px;
  font-family: "Lato", arial;
}

.search-bar-input {
  width: 250px;
  background: white;
  color: black;
  height: 40px;
  float: left;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.search-bar span {
  float: left;
  height: 40px;
  vertical-align: middle;
  margin-top: 7px;
}

.search-button {
  width: 120px;
  height: 40px;
  margin-left: 10px;
  background: rgba(41, 165, 153, .8);
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  float: left;
}

.search-button:hover {
  background: rgba(41, 165, 153, 1);
}

.search-button:active {
  background: rgba(21, 145, 133, 1);
}

.search-bar-city-selector {
  float: left;
  height: 40px;
  min-width: 140px;
  margin-left: 12px;
  padding: 10px;
  font-size: 18px;
  background: rgba(41, 165, 153, .8);
  border-radius: 5px;
  text-align: center;
  position: relative;
}

.search-bar-city-selector:hover {
    background: rgba(41, 165, 153, 1);
}

.city-selector-dropdown {
  min-height: 100px;
  min-width: 140px;
  background: rgba(243, 216, 111, .9);
  position: absolute;
  border-radius: 5px;
  left: 0;
  top: 60px;
  padding: 10px;
  display: none;
}

.city-selector-dropdown li {
  padding: 10px;
  background: rgba(41, 165, 153, .8);
  height: 40px;
  margin-bottom: 10px;
  color: white;
  border-radius: 5px;
}

.city-active {
  display: block;
}

.search-bar-group {
  width: 100px;
  float: right;
  border: 1px solid white;
  height: 40px;
  display: block;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  font-weight: 700;
  font-family: arial;
  font-size: 16px;
  background: rgba(41, 165, 153, .6);
}

.search-bar-calendar {
  width: 100px;
  float: right;
  border: 1px solid white;
  height: 40px;
  display: block;
  text-align: center;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  font-weight: 700;
  font-family: arial;
  font-size: 16px;
  background: rgba(41, 165, 153, .6);
}

.search-bar-group:hover {
  background: rgba(41, 165, 153, .7);
}

.search-bar-group:active {
  background: rgba(41, 165, 153, 1);
}


.search-bar-calendar:hover {
  background: rgba(41, 165, 153, .7);
}

.search-bar-calendar:hover {
  background: rgba(41, 165, 153, 1);
}

.search-chosen {
  background: rgba(4, 146, 135, .8);
  font-weight: bold;
  color: white;
}

.search-chosen:hover {
  background: rgba(41, 165, 153, 1);
}

.search-chosen:active {
  background: rgba(21, 145, 133, 1);
}


.content-main-list-day {
  width: 640px;
  box-sizing: border-box;
  background: rgba(41, 165, 153, .8);
  border-radius: 10px;
  float: left;
  margin-bottom: 15px;
}

.front-page-event-list-header {
  color: white;
}

.content-main-list-day > h4 {
  margin-bottom: 30px;
  padding-left: 15px;
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
}

.content-main-list > li {
  width: 650px;
  background: white;
  border: 1px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-bottom: 0;
}


.content-list-time {
  float: left;
  min-height: 90px;
  margin-right: 20px;
  color: #999;
}

.content-list-item {
  display: block;
  padding: 2px;
  font-family: arial;
}

.content-list-first {
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  font-size: 14px;
}

.content-list-middle {
  text-transform: capitalize;
  font-size: 19px;
  font-weight: bold;
}

.content-list-last {
  color: #999;
}


.content-main-list li:first-of-type  {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content-main-list li:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #aaa;
}

.content-main-list-linkups {
  position: absolute;
  right: 0;
  top: 116px;
  border-radius: 5px;
  width: 260px;
}

.content-main-list-linkups button {
  width: 260px;
  padding: 7px 5px;
  border: 1px solid #aaa;
  border-bottom: 0;
  font-family: "Bree Serif", arial;
  background: rgba(243, 216, 111, .9);
  color: black;
}

.content-main-list-linkups button:hover {
  background: rgba(232, 202, 84, .9);
}

.content-main-list-linkups button:active {
  background: rgba(212, 182, 64, 1);
}

.content-main-list-linkups button {
  margin-left: 15px;
}

.content-main-list-linkups button:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content-main-list-linkups button:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #aaa;
}

.content-main-list-linkups a {
  margin-left: 10px;
}

.front-page-event-list {
  width: 600px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  font-family: "Bree Serif", arial;
  font-size: 14px;
}

.front-page-event-list h1 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 14px;
}

.front-page-event-item {
  background: rgba(255, 255, 255, .6);
  border-radius: 5px;
  padding: 15px;
  border: 2px solid white;
  margin-bottom: 25px;
  color: black;
}

.front-page-event-item a:hover{
  color: rgba(4, 146, 135, .73);
}

.front-page-event-item a:active{
  color: rgba(4, 146, 135, 1);
}

.front-page-event-item p {
  margin-bottom: 10px;
}


.front-page-event-link {
  display: block;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bolder;
  padding-bottom: 5px;
  cursor: pointer;
  text-transform: capitalize;
  color: black;
}

.front-page-group-link {
  display: block;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bolder;
  padding-bottom: 5px;
  cursor: pointer;
  text-transform: capitalize;
}

.front-page-event-item span {
  display: block;
  padding-bottom: 10px;
}

.front-page-event-item p {
  font-size: 16px;
}


.content-loading {
  width: 200px;
  height: 200px;
  background: none;
  margin-left: 100px;
}

.search-category {
  width: 145px;
  height: 40px;
  margin-left: 10px;
  background: rgba(41, 165, 153, .8);
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  float: left;
  position: relative;
}

.home-category-list {
  position: absolute;
  width: 145px;
  background: rgba(243, 216, 111, .9);
  color: black;
  padding: 10px;
  top: -100px;
  right: -160px;
  border-radius: 5px;
  display: none;
}

.home-category-list-item {
  font-family: "Courgette", arial;
  background: rgba(255, 255, 255, .6);
  width: 125px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.category-active {
  display: block;
}
