.front-section {
  background: #fafafa;
}

.front-header {
  display: flex;
  justify-content: space-between;
  background: white;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid #ccc;
}

.front-header-heading-link {
  padding-top: 15px;
  font-family: 'Courgette', cursive;
  color: #29a599;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 25px;
}

.front-header-heading-logo {
  padding: 20px 5px;
  font-family: 'Pacifico', cursive;
  color: #29a599;
  font-size: 36px;
}

.front-header-list {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  padding-top: 5px;
  width: 155px;
  position: relative;
  right: 30px;
}

.front-header-list > li {
  display: inline-block;
  padding: 27px 5px;
}

.front-header-list img {
  width: 35px;
  height: 35px;
}

.front-header-nav-message {
  background-color: #3fe0d0;
  border: 1px solid #3fe0d0;
  border-radius: 5px;
  display: inline-block;
  margin-right: 15px;
}

.front-header-nav-notification {
  background-color: #29a599;
  border: 1px solid #29a599;
  border-radius: 5px;
  top: 10px;
  display: inline-block;
}

.front-header-nav-profile {
  background-color: #049287;
  border: 1px solid #049287;
  border-radius: 5px;
  top: 10px;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
}

.content-header {
  height: 260px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #29a599
}

.content-header-box {
  width: 950px;
}

.content-header-text {
  overflow: hidden;
  height: 60px;
  width: 950px;
  border-bottom: 1px solid white;
}

.content-header-text-header {
  display: block;
  border: 0;
  margin-top: 30px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.content-header-nextlinkup {
  width: 650px;
  color: white;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  float: left;
}

.content-header-nextlinkup > h3 {
  font-size: 30px;
  margin: 15px;
  margin-left: 0;
}

.content-header-nextlinkup > h4 {
  font-size: 22px;
  margin: 15px;
  margin-left: 0;
}

.content-header-nextlinkup > h5 {
  font-size: 16px;
  margin: 15px;
  margin-left: 0;
}

.content-header-calendar-location {
  width: 200px;
  color: white;
  font-family: "Roboto", sans-serif;
  float: right;
}

.content-header-calendar-location > h3 {
  font-size: 16px;
}

.front-header-nav-profile {
  position: relative;
  top: 0;
}

.front-header-profile-list {
  position: absolute;
  width: 100px;
  border-radius: 5px;
  position: absolute;
  left: -165px;
  top: 60px;
  height: 100px;
  width: 200px;
  background: #eee;
  box-shadow: 1px 1px 1px 1px #aaa;
}

.front-header-profile-list a {
  display: block;
  padding: 7px;
  border-bottom: 1px solid white;
  color: #aaa;
  border-radius: 5px;
}

.front-header-profile-list:before {
  content: "";
  display: block;
  position: absolute;
  border-bottom: 10px solid #eee;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: -10px;
  right: 7px;
  z-index: 1;
}

.front-header-profile-list > li {
  padding: 7px;
  border-bottom: 1px solid white;
  color: #aaa;
  border-radius: 5px;
}

.front-invisible {
  display: none;
}

.front-visible {
  display: block;
}

.content-main {
  width: 950px;
  margin: 0 auto;
  min-height: 600px;
  position: relative;
  padding-top: 70px;
}

.search-bar {
  width: 950px;
  background: black;
  position: absolute;
  height: 70px;
  padding: 15px;
  box-sizing: border-box;
  top: -35px;
  color: white;
  border-radius: 5px;
}

.search-bar-input {
  width: 250px;
  background: white;
  color: black;
  height: 40px;
  float: left;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
}

.search-bar p {
  width: 200px;
  float: left;
  margin-left: 30px;
  margin-top: 10px;
  font-family: arial;
}

.search-bar-group {
  width: 100px;
  float: right;
  border: 1px solid #3F454D;
  height: 40px;
  display: block;
  text-align: center;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: #3F454D;
  font-weight: 700;
  font-family: arial;
  font-size: 16px;
}

.search-bar-calendar {
  width: 100px;
  float: right;
  border: 1px solid #3F454D;
  height: 40px;
  display: block;
  text-align: center;
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #3F454D;
  font-weight: 700;
  font-family: arial;
  font-size: 16px;
}

.search-chosen {
  background: #52575E;
  font-weight: bold;
  color: #ccc;
}

.content-main-list-day {
  float: left;
  margin-bottom: 15px;
}

.content-main-list-day > h4 {
  margin-bottom: 30px;
  padding-left: 15px;
  font-family: arial;
  font-weight: bold;
  font-size: 14px;
}

.content-main-list > li {
  width: 650px;
  background: white;
  border: 1px solid #ccc;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #aaa;
  border-bottom: 0;
}


.content-list-time {
  float: left;
  min-height: 90px;
  margin-right: 20px;
  color: #999;
}

.content-list-item {
  display: block;
  padding: 2px;
  font-family: arial;
}

.content-list-first {
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  font-size: 14px;
}

.content-list-middle {
  text-transform: capitalize;
  font-size: 19px;
  font-weight: bold;
}

.content-list-last {
  color: #999;
}


.content-main-list li:first-of-type  {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content-main-list li:last-of-type {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #aaa;
}

.content-main-list-linkups {
  position: absolute;
  right: 0;
  top: 116px;
}

.content-main-list-linkups li {
  width: 260px;
  padding: 7px 5px;
  border: 1px solid #aaa;
  border-bottom: 0;
  font-family: "Bree Serif", arial;
  background: white;
}

.content-main-list-linkups button {
  margin-left: 15px;
}

.content-main-list-linkups li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.content-main-list-linkups li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: 1px solid #aaa;
}

.content-main-list-linkups a {
  margin-left: 10px;
}

.front-page-event-list {
  width: 640px;
  display: block;
  margin-bottom: 30px;
  font-family: "Bree Serif", arial;
  font-size: 14px;
}

.front-page-event-list h1 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 14px;
}

.front-page-event-item {
  background: rgba(63, 224, 208, .5);
  border-radius: 5px;
  padding: 15px;
  border: 1px solid rgba(63, 224, 208, 1);
  margin-bottom: 25px;
}

.front-page-event-item a {
  display: block;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bolder;
  padding-bottom: 5px;
  cursor: pointer;
  text-transform: capitalize;
}

.front-page-event-item span {
  display: block;
  padding-bottom: 10px;
}

.front-page-event-item p {
  font-size: 16px;
}
