.group-page {
  height: 1000px;
  width: 950px;
  background: transparent;
  margin: 0 auto;
  padding-top: 25px;
  position: relative;
}

.group-welcome-sign {
  display: block;
  background: transparent;
  font-size: 40px;
  position: absolute;
  top: 150px;
  left: 37%;
  z-index: 5;
  color: #0520E4;
  font-family: "Pacifico", arial;
}


.group-header {
  width: 950px;
  background: rgba(41, 165, 153, .8);
  height: 200px;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Courgette", arial;
  text-align: center;
}

.group-header-background {
  color: white;
  margin-bottom: 20px;
  font-size: 20px;
}

.group-name {
  display: block;
  text-align: center;
  color: white;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
}

.group-join-button {
  width: 90px;
  height: 35px;
  position: absolute;
  background: rgba(243, 216, 111, .9);
  color: white;
  text-align: center;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
}

.group-calendar-button {
  display: block;
  padding-top: 7px;
  width: 90px;
  height: 35px;
  position: absolute;
  text-align: center;
  right: 10px;
  top: 10px;
  border-radius: 5px;
  background: rgba(243, 216, 111, .9);
  color: white;
}

.group-aside-container {
  width: 205px;
  min-height: 500px;
  margin-top: 25px;
  float: left;
  border-radius: 5px;
  background: rgba(41, 165, 153, .8);
  box-sizing: border-box;
}



.group-users-list {
  padding: 5px;
  color: white;
  text-align: center;
  font-family: "Bree Serif", arial;
}

.group-users-list li {
  width: 180px;
  border-bottom: 1px solid white;
  margin: 0 auto;
  text-align: left;
  padding: 2px;
  text-transform: capitalize;
  margin-top: 10px;
}

.group-description-content {
  width: 710px;
  min-height: 300px;
  float: right;
  margin-top: 25px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 5px;
  background: rgba(243, 216, 111, .9);
  color: black;
}

.group-description {
  color: white;
  font-family: sans-serif;
}

.group-event-box {
  padding: 10px;
  box-sizing: border-box;
  width: 710px;
  min-height: 200px;
  float: right;
  margin-bottom: 25px;
  border-radius: 5px;
  color: white;
}

.group-event-box-header {
  font-family: "Bree Serif", arial;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 25px;
  width: 230px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background: rgba(41, 165, 153, .8);
  color: white;
}

.group-event-box-past-header {
  font-family: "Bree Serif", arial;
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 25px;
  width: 230px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  background: rgba(41, 165, 153, .8);
  color: white;
}

.group-page-upcoming-list h1{
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 20px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background: rgba(41, 165, 153, .8);
}

.group-page-upcoming-list:first-of-type h1 {
  margin-top: 10px;
}

.group-page-past-list h1 {
  font-size: 14px;
  margin-top: 25px;
  margin-bottom: 20px;
  width: 200px;
  height: 30px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background: rgba(41, 165, 153, .8);
  color: white;
}

.group-page-event-item {
  background-color: rgba(41, 165, 153, .8);
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: arial;
  padding: 15px;
  border: 1px solid rgba(41, 165, 153, .9);
  box-sizing: border-box;
}

.group-page-event-item-past {
  background-color: rgba(41, 165, 153, .8);
  border: 1px solid rgba(41, 165, 153, 1);
  color: black;
}

.group-page-event-item a {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bolder;
  padding-bottom: 5px;
  cursor: pointer;
  text-transform: capitalize;
}

.group-page-event-item span {
  display: block;
  font-size: 14px;
  font-family: "Bree Serif", arial;
  padding-bottom: 10px;
}


.group-page-event-paragraphs p {
  display: block;
  font-size: 16px;
  font-family: "Bree Serif", arial;
  margin-bottom: 15px;
}

.group-page-event-paragraphs p:first-child {
  border-bottom: 1px solid black;
  text-align: center;
}

.group-page-description p:first-child {
  font-size: 26px;
}

.group-page-event-item-content {
  width: 660px;
  background: rgba(255, 255, 255, .6);
  padding: 10px;
  box-sizing: border-box;
  color: black;
}

#calendar {
  box-sizing: border-box;
  width: 700px;
  float: right;
  margin-top: 25px;
  padding: 20px;
  background: rgba(41, 165, 153, .6);
  border-radius: 5px;
  position: relative;
}

.fc-toolbar h2 {
  text-align: center;
  font-family: "Pacifico", arial;
  color: white;
  font-size: 20px;
}

.fc-view-container {
  background: white;
}

.fc-day-grid-event {
  display: block;
  position: absolute;
  margin-right: 1px;
  width: 85px;
  height: 20px;
  transition: width 1s;
  transition: height 1s;
  color: white;
  word-wrap: break-word;
  white-space: pre;
}

.fc-day-grid-event:hover {
  width: 180px;
  height: 50px;
  z-index: 5;
}

tr:first-child > td .fc-title {
  width: 100%;
}

tr:first-child > td:nth-child(7n) > .fc-day-grid-event:first-child {
  display: block;
  position: absolute;
  margin-right: 1px;
  width: 85px;
  height: 20px;
  right: 0;
  transition: width 1s;
  transition: height 1s;
  color: white;
}

tr:first-child > td:nth-child(7n) > .fc-day-grid-event:first-child:hover {
  width: 180px;
  height: 50px;
  z-index: 5;
}

.fc-content {
  word-wrap: break-word;
}

.group-page-upcoming-list p:first-of-type {
  border-bottom: 1px solid white;
}
