.group-page {
  height: 1000px;
  width: 950px;
  background: transparent;
  margin: 0 auto;
  padding-top: 25px;
}

.group-header {
  width: 950px;
  background: #29a599;
  height: 200px;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: "Courgette", arial;
  text-align: center;
}

.group-header-background {
  color: white;
  margin-bottom: 20px;
  font-size: 20px;
}

.group-name {
  text-align: center;
  color: white;
  font-size: 36px;
  font-family: "Roboto", sans-serif;
}

.group-join-button {
  width: 90px;
  height: 35px;
  position: absolute;
  background: #3fe0d0;
  color: white;
  text-align: center;
  right: 10px;
  bottom: 10px;
  border-radius: 5px;
}

.group-aside {
  width: 205px;
  min-height: 500px;
  background: red;
  margin-top: 25px;
  float: left;
  border-radius: 5px;
  background: #29a599;
}

.group-users-list {
  padding: 5px;
  color: white;
}

.group-users-list li {
  width: 180px;
  border-bottom: 1px solid #049287;
  margin: 0 auto;
  text-align: center;
  padding: 2px;
  text-transform: capitalize;
  font-family: arial;
  border-top: 1px solid #049287;
  margin-top: 10px;
}

.group-content {
  width: 710px;
  min-height: 300px;
  float: right;
  margin-top: 25px;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 5px;
  background: #29a599;
}

.group-description {
  color: white;
  font-family: sans-serif;
}

.group-upcoming {
  background: #29a599;
  width: 710px;
  min-height: 200px;
  float: right;
  margin-bottom: 25px;
  border-radius: 5px;
}

.group-past {
  background: #29a599;
  width: 710px;
  min-height: 200px;
  float: right;
  border-radius: 5px;
  margin-bottom: 30px;
}
