.content-user-groups {
  width: 950px;
  background: rgba(41, 165, 153, .8);
  min-height: 500px;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  margin-bottom: 30px;
}

.content-user-groups > h1 {
  color: rgba(243, 216, 111, 1);
  font-family: "Lato", arial;
  font-size: 30px;
  margin-bottom: 20px;
}


.content-user-group-list {
  width: 910px;
  min-height: 120px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
}

.content-user-group-item-container {
  width: 240px;
  height: 120px;
  background: rgba(243, 216, 111, .7);
  padding: 10px;
  border-radius: 5px;
  float: left;
  margin-left: 85px;
}

.content-user-group-item-container:first-of-type {
  margin-left: 0;
}

.content-user-group-item {
  width: 220px;
  height: 100px;
  background: rgba(255, 255, 255, .6);
  padding: 10px;
  text-align: center;
  font-family: "Lato", arial;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content-user-group-item-container:hover {
  background: rgba(41, 165, 153, .7);
}

.content-user-group-item-container:active {
  background: rgba(41, 165, 153, 1);
}

.content-user-group-item-container:active .content-user-group-item {
  background: rgba(235, 235, 235, .9);
}
