.profile-page {
  width: 950px;
  min-height: 650px;
  border: 1px solid #eee;
  border-radius: 5px;
  background: rgba(41, 165, 153, .8);
  margin: 25px auto;
  padding: 15px;
}

.profile-page-container {
  width: 870px;
  min-height: 570px;
  border: 1px solid #eee;
  border-radius: 5px;
  background: rgba(255,255,255, .6);
  margin: 25px auto;
  padding: 25px;
  box-sizing: border-box;
}

.profile-page-name {
  width: 550px;
  padding: 10px;
  float: left;
  background: rgba(41, 165, 153, .8);
  border-radius: 5px;
  color: white;

}

.profile-page-name h1 {
  font-family: arial;
  font-size: 28px;
  text-transform: capitalize;
  font-weight: bolder;
  display: inline;
}

.profile-picture-container {
  width: 240px;
  height: 200px;
  float: right;
  background: rgba(41, 165, 153, .8);
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  border-radius: 5px;
}

.profile-change {
  width: 240px;
  float: right;
  position: absolute;
  bottom: -125px;
  left: 0;
  background: rgba(41, 165, 153, .8);
  padding: 10px;
  border-radius: 5px;
}

.profile-change span {
  display: block;
  margin-bottom: 10px;
  background: rgba(255,255,255, .6);
  padding: 5px;
  text-align: center;
  font-family: "Bree Serif", arial;
  border-radius: 5px;
}

.profile-submit {
  display: block;
  width: 120px;
  padding: 5px;
  background: rgba(255,255,255, .6);
  border-radius: 5px;
  font-family: "Bree Serif", arial;
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
}


.profile-page-bio {
  float: left;
  width: 550px;
  min-height: 100px;
  padding: 20px;
  background: rgba(41, 165, 153, .8);
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.profile-page-bio span {
  font-family: arial;
  font-size: 16px;
  font-weight: bold;
}

.profile-page-groups {
  width: 550px;
  background: rgba(41, 165, 153, .8);
  min-height: 250px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
  float: left;
}

.profile-page-groups > h3 {
  font-family: "Lato", arial;
  color: rgba(243, 216, 111, 1);
  font-size: 20px;
}

.profile-page-group-list {
  width: 510px;
  min-height: 70px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: left;
}

.profile-page-group-item-container {
  width: 130px;
  height: 70px;
  background: rgba(243, 216, 111, .7);
  padding: 15px;
  border-radius: 5px;
  float: left;
  margin-left: 50px;
}

.profile-page-group-item-container:first-of-type {
  margin-left: 0;
}

.profile-page-group-item {
  width: 100px;
  height: 40px;
  background: rgba(255, 255, 255, .6);
  padding: 10px;
  text-align: center;
  font-family: "Lato", arial;
  font-size: 10px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
